/* ==========================================================================
   #FAQs PAGE
   ========================================================================== */
.page--faq.page--faq {
  position: static; }

.faq__categories {
  position: absolute;
  margin-left: -200px;
  width: 180px;
  padding-top: 6px; }

.faq__categories-title {
  margin-bottom: 6px; }

.faq__categories-item {
  position: relative;
  margin: 0 0 3px; }

.faq__categories-link {
  display: block; }

@media screen and (max-width: 1120px) {
  .faq__categories {
    display: none; } }
.faq__search {
  margin: 36px 0;
  position: relative; }

.faq__search-input {
  padding: 12px 30px 12px 12px;
  width: 100%;
  height: 54px;
  line-height: 32px;
  font-weight: 200;
  margin: 0;
  font-size: 1.2rem;
  outline: none; }

.faq__search .icon {
  position: absolute;
  height: 54px;
  line-height: 52px;
  font-size: 22px;
  padding: 0 12px;
  top: 0;
  right: 0;
  background: white;
  border: 1px solid #e4e4e4;
  border-left: 0; }

.faq__category {
  margin-top: 42px;
  border-bottom: 1px solid white;
  top: 1px;
  position: relative; }

.faq__category__title.faq__category__title {
  margin-bottom: 24px; }

.faq__accordion__title {
  position: relative;
  display: block;
  color: #111111; }
  .faq__accordion__title:before {
    content: '';
    background: white;
    position: absolute;
    width: calc(100% + 18px);
    height: 100%;
    left: -9px;
    top: 2px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .faq__accordion__title:hover {
    opacity: 1;
    text-decoration: none; }
    .faq__accordion__title:hover:before {
      background: #f0f0f0; }
  .faq__accordion__title.js-active .faq__accordion__title-icon {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }

.faq__accordion__title-icon {
  position: absolute;
  right: -6px;
  top: 50%;
  margin-top: -12px;
  width: 28px;
  height: 28px;
  text-align: center;
  line-height: 30px;
  font-size: 22px;
  color: #727272;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.faq__accordion__title {
  padding-right: 30px;
  padding-top: 3px; }

.faq__accordion__title-text {
  margin-bottom: 6px;
  font-size: 1.2em;
  position: relative; }

.faq__accordion__item {
  margin-bottom: 24px;
  display: block;
  overflow: hidden; }

.faq__accordion__item:last-child {
  margin-bottom: 0; }

.faq__accordion__item-wrap:before {
  content: '';
  width: 30px;
  height: 3px;
  background: black;
  position: absolute;
  left: 0;
  top: -12px; }
.faq__accordion__item-wrap *:last-child {
  margin-bottom: 0; }

.faq__accordion__item__image {
  margin-top: 15px; }

.faq__cta {
  margin-top: 36px;
  overflow: hidden; }

.autocomplete-suggestions {
  background: white;
  border: 1px solid #e4e4e4;
  border-top: 0; }

.autocomplete-suggestion {
  padding: 3px 12px;
  cursor: pointer;
  background: white;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.autocomplete-suggestion.autocomplete-selected {
  background: #f0f0f0; }

@media screen and (max-width: 767px) {
  .faq__accordion__title-text,
  .faq__search-input {
    font-size: 1.1em; }

  .faq__cta {
    margin-top: 24px; } }
.faq-categories-spacer {
  display: none !important; }

.faq__categories,
.faq__categories.scroll-to-fixed-fixed.scroll-to-fixed-unfixed {
  position: absolute !important; }

.faq__categories.scroll-to-fixed-fixed {
  position: fixed !important; }