div .scr-open-parent,
div .best-fit-size-chart {
	width: 100%;
	max-width: 100%;
}
div button.scr-open-size-chart {
	background: transparent;
	border: 0;
	box-shadow: none;
	padding: 0;
	color: rgb(61, 66, 70);
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 1.3;
	outline: 0;
	font-size: 14px;
	cursor: pointer;
	text-decoration: underline;
	width: auto;
}
div button.scr-open-size-chart:hover {
	opacity: 0.6;
	background: transparent;
	border: 0;
}

/* icons */
div button.scr-open-size-chart::before {
	content: '';
	width: 20px;
	display: inline-block;
	vertical-align: text-bottom;
	margin-right: 8px;
}

div button.scr-open-size-chart.none {
	display: inline-block;
}

div button.scr-open-size-chart.none::before {
	content: none;
}



div button.scr-open-size-chart.Medium {
	font-size: 18px;
}
div button.scr-open-size-chart.Medium::before {
	height: 20px;
	width: 26px;
}

div button.scr-open-size-chart.Large {
	font-size: 24px;
}
div button.scr-open-size-chart.Large::before {
	height: 28px;
	width: 36px;
}

/* modal */
.ql-scr-modal {
	transition: visibility 0.4s ease-in, opacity 0.4s ease-in, transform 0.4s ease-in;
	opacity: 0;
	visibility: hidden;

	color: black;
	background: white;
	padding: 20px;
	padding-top: 0;
	overflow-y: auto;
	max-height: calc(100vh - 70px);

	position: fixed;
	top: 50px;
	left: 50%;
	transform: translate(-50%, 0%) scale(0.5);
	z-index: 9999100109;
	
    width: calc(100% - 70px);
    max-width: 30rem;
	min-height: 20rem;
    margin: 5em auto 0px;
	
	
}

.ql-scr-modal .ql-scr-close {
	width: 16px;
	height: 16px;
	opacity: 0.3;
	cursor: pointer;
	display: flex;
	padding: 23px;
	margin: 7px -16px -7px auto;
	position: relative;
	transform: translate(0, 0); /* no idea */
}
.ql-scr-modal .ql-scr-close:hover {
	opacity: 1;
}
.ql-scr-modal .ql-scr-close:before, 
.ql-scr-modal .ql-scr-close:after {
	content: '';
	position: absolute;
	top: 15px;
	right: 23px;
	height: 17px;
	width: 2px;
	background-color: #333;
}
.ql-scr-modal .ql-scr-close:before {
	transform: rotate(45deg);
}
.ql-scr-modal .ql-scr-close:after {
	transform: rotate(-45deg);
}

.ql-scr-shadow {
	transition: visibility 0.8s ease, opacity 0.8s ease;
	opacity: 0;
	visibility: hidden;

	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	z-index: 9999100105;
}

.qlscr {
	margin-bottom: 30px;
}
.qlscr:last-child {
	margin-bottom: 0;
}

.qlscr h2 {
	text-align: center;
	font-size: 20px;
}

.qlscr h2,
.qlscr .ql-top-description,
.qlscr table,
.qlscr .ql-bottom-description {
	margin-top: 0;
	margin-bottom: 20px;
}

.qlscr .ql-top-description p,
.qlscr .ql-bottom-description p {
	margin-bottom: 3px;
	line-height: 1.4;
}

.qlscr > :last-child {
	margin-bottom: 0;
}

.qlscr table {
	width: 100%;
	display: table;
	border-collapse: collapse;
}

.qlscr tr {
	display: table-row;
}

.qlscr table td {
	display: table-cell;
	border: 0;
	line-height: 1.2;
	padding: 13px;
	font-size: 16px;
	font-family: 'Segoe UI', Arial,  sans-serif;
}

.qlscr table tr:before,
.qlscr table tr:after,
.qlscr table td:before,
.qlscr table td:after {
	content: none !important;
}

/* qlbasic */
.qlscr.qlbasic table {
	border: 0px solid #fff;
}
.qlscr.qlbasic table tr td {
	
	border: 0px solid #fff;
}
.qlscr.qlbasic table tr:nth-child(2) td {
	border: 0px solid #fff;
}
.qlscr.qlbasic table tr:nth-child(2n + 3) td {
	background: #fff;
}
.qlscr.qlbasic table td {
	text-align: center;
}

/* dark */
.qlscr.dark table {
	color: white;
	border: 0;
}
.qlscr.dark table tr:first-child td,
.qlscr.dark table tr td:first-child {
	background: white;
	color: black;
}
.qlscr.dark table tr td {
	background: #1b2224;
}
.qlscr.dark table tr:nth-child(2n + 3) td {
	background: #263033;
}
.qlscr.dark table tr:first-child td:first-child {
	background: white;
}
.qlscr.dark table td {
	text-align: center;
}
.qlscr.dark table tr td:first-child {
	text-align: right;
}

.best-fit-size-chart .scr-open-size-chart font {
	pointer-events: none;
}

.ql-scr-modal img {
	max-width: 100%;
	height: auto;
}

@media (max-width: 768px) {
	.ql-scr-modal {
		max-height: calc(100vh - 70px);
	}

	.qlscr h2 {
		font-size: 18px;
	}
	.qlscr table td {
		font-size: 14px;
	}
}

@media (max-width: 600px) {
	.ql-scr-modal img {
		display: block;
		margin-left: auto !important;
		margin-right: auto !important;
		float: none !important;
	}

	.qlscr table td {
		padding: 13px 2px;
	}
}

@media (max-width: 500px) {
	.qlscr h2 {
		font-size: 16px;
	}
	.qlscr table td {
		font-size: 9px;
	}
}
.ql-btn-set1{
    width: 70%;
    max-width: 100%;
	position: relative;
    font-family: Montserrat, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: 0.05rem;
    border-radius: 5rem;
    cursor: pointer;
    padding: 1.5rem 1rem;
    font-weight: 700;
    outline: none;
    border: 0px;
    text-align: center;
	margin:20px 15%;
	background-color:black;
	color:#ffff;

}


.wSelect-el {
	width: 0px;
	height: 0px;
	padding: 0px;
	margin: 0px;
	border: none;
	overflow: hidden;
}
.wSelect {
	position: relative;
	display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
}
.wSelect-arrow {
	position: absolute;
	width: 30px;
	right: 0px;
	top: 0px;
	height: 100%;
	background-repeat: no-repeat;
	background-position: 0px center;
}
.wSelect-hover .wSelect-arrow,
.wSelect-active .wSelect-arrow  {
	background-position: -30px center;
}
.wSelect.wSelect-multiple {
	overflow: hidden;
}
.wSelect-selected {
	margin: 0px 35px 0px 5px;
	padding: 10px 0;
	overflow: hidden;
	white-space: nowrap;
	background-repeat: no-repeat;
	background-position: 0 center;
}
.wSelect-options-holder {
	position: absolute;
	display: none;
	left: 0px;
	z-index: 200;
	overflow: hidden;
}
.wSelect-multiple .wSelect-options-holder {
	position: relative !important;
	display: block !important;
	top: auto !important;
	z-index: auto !important;
	border: none !important;
}
.wSelect-options {
	overflow-y: scroll;
	overflow-x: hidden;
}
.wSelect-option {
	background-repeat: no-repeat;
	background-position: 5px center;
	margin-bottom: 1px;
	cursor: pointer;
}
.wSelect-option-last {
	margin-bottom: 0px;
}
.wSelect-option-value {
	margin: 0 5px;
	padding: 5px 0;
	background-repeat: no-repeat;
	background-position: 0 center;
	white-space: nowrap;
	overflow: hidden;
}
.wSelect-option-disabled .wSelect-option-value {
	filter: alpha(opacity=20);
	opacity: 0.2;
}
.wSelect-option-icon {
	padding-left: 30px;
}

.wSelect-theme-classic.wSelect {
	border: solid #CCC 1px;
    color: #555;
    background-color: #FAFAFA;	
	font-size: 15px;
	//font-weight:bold;
	font-family: verdana;
	line-height: 30px;
	min-width: 100px;
	max-width: 300px;
	margin-bottom: 7px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    border-radius: 5px;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.wSelect-arrow {
	//background-image: url('../img/arrow-down.png');
	background-size: 60%;
}
.wSelect-theme-classic.wSelect-hover,
.wSelect-theme-classic.wSelect-active {
    border-color: rgb(82, 168, 236);
    border-color: rgba(82, 168, 236, 0.8);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);

}
.wSelect-theme-classic .wSelect-options-holder {
	background-color: #FAFAFA;
	border: solid #CACACA 1px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	min-width: 200px;
	max-width: 300px;
}
.wSelect-theme-classic .wSelect-options {
	border: solid #FAFAFA 1px;
	border-radius: 4px;
    -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	height:125px;
}
.wSelect-theme-classic .wSelect-option {
	background-color: #FFF;
	color: #333;
}
.wSelect-theme-classic .wSelect-option-disabled {
	background-color: #FFF !important;
	color: #333 !important;	
}
.wSelect-theme-classic .wSelect-option-selected,
.wSelect-theme-classic .wSelect-option:hover {
	background-color: #99AAFF;
	color: #FAFAFA;
}


.wLabel-top,
.wLabel-left,
.wLabel-left-top {
    vertical-align: middle;
    font-size: 10px;
    line-height: 16px;
    color: #999;
    display: block;
    margin: 5px 0 3px 3px;
}
.wLabel-left-top {
    vertical-align: top;
}
@media screen and (min-width: 600px) {
    .wLabel-left,
    .wLabel-left-top {
        display: inline-block;
        *display: inline;
        zoom: 1;
        width: 70px;
        text-align: right;
        margin: 0 0 7px 0;
    }
}